PermitRootLogin no
PubkeyAuthentication yes
AuthenticationMethods publickey
AuthorizedKeysFile none
AuthorizedKeysCommand /gather_keys.sh
AuthorizedKeysCommandUser git
PasswordAuthentication no
ChallengeResponseAuthentication no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
PrintMotd no

Subsystem	sftp	/usr/lib/ssh/sftp-server
