PermitRootLogin no
PubkeyAuthentication yes
AuthenticationMethods publickey
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
ChallengeResponseAuthentication no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no

Subsystem	sftp	/usr/lib/ssh/sftp-server
